<!-- TITLE -->
<section class="title">
    <div class="container">
        <div class="row">
            <div class="col-md-12 c ol-md-offset-2">
                <h2>
                    Contact  <b>Us</b>
                </h2>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid">
<div class="row">
<div class="col-m d-12">
<div id="map"></div>
<style>
#map {
width: 100%;
height: 320px;
}
</style>
<!--
-->
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
function initMap() {
    var mapDiv = document.getElementById('map');
    var map = new google.maps.Map(mapDiv, {
    //center: {lat: 44.540, lng: -78.546},
    center: {lat: 33.0632241, lng: -96.9105923},
        zoom: 8
    });
}
console.log(jQuery);
function initialize() {
        var mapOptions = {
          zoom: 4,
          center: {lat: 33.0632241, lng: -96.9105923},
          mapTypeId: google.maps.MapTypeId.TERRAIN
        };
        map = new google.maps.Map(document.getElementById('map'),
              mapOptions);

        // Create a <script> tag and set the USGS URL as the source.
        var script = document.createElement('script');

        // (In this example we use a locally stored copy instead.)
        // script.src = 'http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_week.geojsonp';
        script.src = 'earthquake_GeoJSONP.js';
        document.getElementsByTagName('head')[0].appendChild(script);
      }

      function eqfeed_callback(results) {
        map.data.addGeoJson(results);
      }

      // Call the initialize function after the page has finished loading
      google.maps.event.addDomListener(window, 'load', initialize);
</script>
</div>
</div>
</div>
<!-- END TITLE -->
<section class="contact">
    <div class="container">
        <div class="row hidden">

            <div class="col-md-12">


                <hr>
                <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:440px;width:700px;'><div id='gmap_canvas' style='height:340px;width:700px;'></div><div><small><a href="http://embedgooglemaps.com">                                   embed google maps                           </a></small></div><div><small><a href="http://www.autohuren.world/">autohuren</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:10,center:new google.maps.LatLng(33.0624953,-96.90821169999998),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(33.0624953,-96.90821169999998)});infowindow = new google.maps.InfoWindow({content:'<strong>Title</strong><br>670 Sailors Ave Lewisville, TX 75056 USA<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <section>
                    <h3>Contact Info</h3>
                    <b> 670 Sailors Avenue, Lewisville, TX 75056</b>
                    <dl>
                      <dt>Office:</dt> <dd>972 - 395 - 2576</dd>
                      <dt>Fax:</dt> <dd>972 - 492 - 4952</dd>
                      <dt>Email:</dt> <dd>info@nepasit.com</dd>
                    </dl>
                </section>

                <section>
                    <h3>Get Social</h3>
                </section>
            </div>
            <div class="col-md-8">
                <h3>Get in Touch with Us</h3>
                <p>
                    or bla bla text bla bla textbla bla textbla bla textbla bla textbla bla textbla bla textbla bla textbla bla textbla bla text or bla bla text bla bla textbla bla textbla bla textbla bla
                </p>

                <form>
                  <div class="form-group">
                    <label for="contactName">Your name</label>
                    <input type="text" class="form-control" id="contactName" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="contactEmail">Your Email *</label>
                    <input type="email" class="form-control" id="contactEmail" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="message">Your Message *</label>
                    <textarea class="form-control" rows="3"></textarea>
                  </div>

                  <button type="submit" class="btn btn-primary">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</section>