<!-- TITLE -->
<section class="title">
    <div class="container">
        <div class="row">
            <div class="col-md-12 c ol-md-offset-2">
                <h2>
                    About  <b>Us</b>
                </h2>
            </div>
        </div>
    </div>
</section>
<!-- END TITLE -->
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Nepasit, a leading provider of technology professionals based in Dallas Texas, is now hiring for a variety of Positions throughout America. We are looking for candidates with OPT/ CPT/ L2/ EAD/ Green Card/ Citizens as their immigration status. We are looking for skilled candidates who have worked as a NET Developer, Java Developer, Sql DBA, Sql developer, Business Objects, Big Data, Sharepoint , Oracle DBA\DEV etc ..
                </p>
                <p>
                    Please let us know if you would be interested. If so please send resume and best time to reach you. You can Call or email at info@nepasit.com 972-3395-2576 or 713-822-4238. We work on 80/20 with qualified candidates
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2>Partners</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Oracle
            </div>
            <div class="col-md-4">
                Microsoft
            </div>
            <div class="col-md-4">
                Micro Strategy
            </div>
        </div>
        <div class="row hidden">
            <div class="col-md-12">
                <ul>
                    <li>Oracle</li>
                    <li>Microsoft</li>
                    <li>Micro Strategy</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2>Awards &amp; Achievements</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li>Awards 1</li>
                    <li>Awards 2</li>
                    <li>Awards 3</li>
                    <li>Awards 4</li>
                </ul>
            </div>
        </div>
    </div>
</section>
