<!-- BANNER -->
<section class="banner">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators hidden">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="./assets/images/banner-bg.jpg" alt="...">
                <div class="carousel-caption hidden-xs">
                    <h2>Business Intelligence</h2>
                    <p class="hidden-sm">
                        Lorem ipsum dolor sit amet, consecteture adipiscing elt. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consecteture adipiscing elt. Aenean commodo ligula eget dolor.
                    </p>
                    <button>more</button>
                </div>
            </div>
            <div class="item">
                <img src="./assets/images/banner-bg.jpg" alt="...">
                <div class="carousel-caption hidden-xs">
                    <h2>IT Staffing</h2>
                    <p class="hidden-sm">
                        Lorem ipsum dolor sit amet, consecteture adipiscing elt. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consecteture adipiscing elt. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consecteture adipiscing elt. Aenean commodo ligula eget dolor.
                    </p>
                    <button>more</button>
                </div>
            </div>
            <!--<div class="item">-->
                <!--<img src="../assets/images/banner-bg.jpg" alt="...">-->
                <!--<div class="carousel-caption">-->
                    <!--...-->
                <!--</div>-->
            <!--</div>-->
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<!-- END BANNER -->

<!-- WELCOME -->
<section class="welcome">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 ">
                <h2>
                    {{title}}
                    <b></b>
                    <span></span>
                </h2>
                <p>
                    Nepasit , a leading provider of technology professionals based in Dallas Texas, is now hiring for a variety of Positions throughout America. We are looking for candidates with OPT/ CPT/ L2/ EAD/ Green Card/ Citizens as their immigration status. We are looking for skilled candidates who have worked as a NET Developer, Java Developer, Sql DBA, Sql developer, Business Objects, Big Data, Sharepoint , Oracle DBA\DEV etc ..
                </p>
                <p>
                    Please let us know if you would be interested. If so please send resume and best time to reach you. You can Call or email at info@nepasit.com 972-3395-2576 or 713-822-4238
                    .We work on 80/20 with qualified candidates
                </p>
            </div>
        </div>
    </div>
</section>
<!-- END WELCOME -->

<!-- SERICES -->
<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>{{service.title}}
                    <b></b>
                    <span></span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6" ng-repeat="service in service.services">
                <span class="fa {{service.icon}}"></span>
                <h3>{{service.title}}</h3>
                <p>
                    {{service.description}}
                </p>
            </div>
        </div>
    </div>
</section>
<!-- END SERVICES -->
