<!DOCTYPE html>
<html lang="en" ng-app="desmata">
<head>
    <meta charset="UTF-8">
    <title>NSI  {{title}}</title>
<!-- Desmata -->
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/css/app.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
<div class="color">
    <span class="visible-lg"> lg </span>
    <span class="visible-md"> MD </span>
    <span class="visible-sm"> SM </span>
    <span class="visible-xs"> XS </span>
</div>
<!-- NAV -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                <img src="./assets/images/logo-2.png" alt="" class="pull-left">
                <div class="pull-left" style="font-size:36px;padding:11px 0 0 10px">NIS</div>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="home">Home</a></li>
                <li><a ui-sref="about">About us</a></li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="botton" aria-haspopup="true" aria-expanded="false">Industries</a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="industry">Data Analytics Practice</a></li>
                        <li><a ui-sref="industry">Cloud Services</a></li>
                        <li><a ui-sref="industry">Microsoft Sql Server Solutions</a></li>
                        <li><a ui-sref="industry">Quality Assurance</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a  ui-sref="service.index" class="dropdown-toggle" data-toggle="dropdown" role="botton" aria-haspopup="true" aria-expanded="false">Services</a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="service.detail({id: 11})">Data Analytics Practice</a></li>
                        <li><a ui-sref="service">Cloud Services</a></li>
                        <li><a ui-sref="service">Microsoft Sql Server Solutions</a></li>
                        <li><a ui-sref="service">Quality Assurance</a></li>
                        <li><a ui-sref="service">JAVA/j2ee</a></li>
                        <li><a ui-sref="service">Business Analysis</a></li>
                        <li><a ui-sref="service">Project Managers</a></li>
                        <li><a ui-sref="service">System Administrators</a></li>
                        <li><a ui-sref="service">Network Administrators</a></li>
                    </ul>
                </li>
                <li><a href="#">IT Staffing</a></li>
                <li><a href="#">Careers</a></li>
                <li><a ui-sref="contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- END NAV -->


<div ui-view=""></div>

<!-- PARTNERS -->
<section class="partners" ng-if="partnerShow">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="./assets/images/part-microsoft.jpg" alt="">
                <img src="./assets/images/part-oracle.jpg" alt="">
                <img src="./assets/images/part-microstrategy.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- END PARTNERS -->
<!-- FOOTER -->
<footer class="">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                Copyright &copy; Desmata Inc. 2016
            </div>
            <div class="col-md-6 text-right">
                <ul class="list-inline">
                    <li>
                        <span class="fa fa-facebook"></span>
                    </li>
                    <li>
                        <span class="fa fa-twitter"></span>
                    </li>
                    <li>
                        <span class="fa fa-google-plus"></span>
                    </li>
                    <li>
                        <span class="fa fa-youtube"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER -->
<script src="./bower_components/jquery/dist/jquery.min.js"></script>
<script src="./bower_components/angular/angular.min.js"></script>
<script src="./bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="./assets/js/app.js"></script>

<script src="./views/home/home.js"></script>
<script src="./views/home/homeCtrl.js"></script>

<script src="./views/service/service.js"></script>
<script src="./views/service/serviceCtrl.js"></script>

<script src="./views/about/about.js"></script>
<script src="./views/about/aboutCtrl.js"></script>

<script src="./views/industry/industry.js"></script>
<script src="./views/industry/industryCtrl.js"></script>

<script src="./views/contact/contact.js"></script>
<script src="./views/contact/contactCtrl.js"></script>
</body>
</html>
