<section class="title">
    <div class="container">
        <div class="row">
            <div class="col-md-12 c ol-md-offset-2">
                <h2>
                    All Services  <b></b>
                </h2>
            </div>
        </div>
    </div>
</section>
<section class="content services">
    <div class="container">
        <div class="row hidden">
            <div class="col-md-8 col-md-offset-2">
                <h2>{{service.title}}
                    <b></b>
                    <span></span>
                </h2>
            </div>
        </div>
        <div class="row">

            <span ng-repeat="service in service.services">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <span class="fa {{service.icon}}"></span>
                <h3>{{service.title}} {{$index}}</h3>
                <p>
               123 {{$index}}
                    {{service.description}}
                </p>
            </div>
            <div class="clearfix break" ng-if="($index+1) % 4 == 0"></div>
            </span>

        </div>
    </div>
</section>