<!-- TITLE -->
<section class="title">
    <div class="container">
        <div class="row">
            <div class="col-md-12 c ol-md-offset-2">
                <h2>
                    Services  <b>Page</b>
                </h2>
            </div>
        </div>
    </div>
</section>
<!-- END TITLE -->

<!-- SERICES -->
<section class="services">
    <div class="container">
        <div class="row hidden">
            <div class="col-md-8 col-md-offset-2">
                <h2>{{service.title}}
                    <b></b>
                    <span></span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6" ng-repeat="service in service.services">
                <span class="fa {{service.icon}}"></span>
                <h3>{{service.title}} {{$index}}</h3>
                <p>
                    bbb{{$index}}
                    {{service.description}}
                </p>
            </div>
        </div>
    </div>
</section>
<!-- END SERVICES -->
