<!-- TITLE -->
<section class="title">
    <div class="container">
        <div class="row">
            <div class="col-md-12 c ol-md-offset-2">
                <h2>
                    Data Analytics Practice  <b></b>
                </h2>
            </div>
        </div>
    </div>
</section>
<!-- END TITLE -->